.embla * {
  box-sizing: border-box;
}

.embla {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 100%;
  max-height: var(--max-height);
  --slide-height: 100%;
  --slide-spacing: 1rem;
  --slide-size: 50%;
  --text-high-contrast-rgb-value: 0, 0, 0;
  --detail-medium-contrast: #eee;
  --detail-high-contrast: black;
  --text-body: black;
}

.embla__viewport {
  overflow: hidden;
  height: 100%;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 100%;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  height: var(--slide-height);
  max-height: var(--max-height);
}
.embla__slide img {
  max-width: 100%;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
